{%  extends 'accounts/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to HomePage</a>
			<hr>
			<h3 style="text-align: center">Account Settings</h3>
			<hr>
			<img class="profile-pic" src="{{request.user.teacher.profile_pic.url}}" >
		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			{% load crispy_forms_tags %}
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
                <div class="row">
                    <div class="col-2">
                        {{ user_form.first_name|as_crispy_field }}
                    </div>
                    <div class="col-2">
                        {{ user_form.last_name|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ user_form.email|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ teacher_form.phone|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        {{ teacher_form.current_certification|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ teacher_form.school|as_crispy_field }}
                    </div>

                </div>
                <div class="row">
                    <div class="col-3">
                        {{ teacher_form.profile_pic|as_crispy_field }}
                    </div>
                </div>
			<input class="btn btn-primary" type="submit" value="Update Information">
			</form>
		</div>
			{% for message in messages %}
	          <p id="messages">{{message}}</p>
	        {% endfor %}   

	</div>
</div>


{% endblock %}