{% extends 'accounts/main.html' %} 

{% block content %}	

{{teacher}}
<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">

			<form action="" method="POST">
				{% csrf_token %}
				{{ formset.management_form }} 
				
				{% for form in formset %}
					<p>{{form.date.label_tag}}{{form.date}}     {{form.category.label_tag}}{{form.category}}</p>
					<p>{{form.ceu.label_tag}}{{form.ceu}}		{{form.clock_Hours.label_tag}}{{form.clock_Hours}}		{{form.pages.label_tag}}{{form.pages}}</p>
					<p>{{form.summary.label_tag}}{{form.summary}}</p>
					

				{% endfor %}	

				<input type="submit" name="Submit" value= "Submit">
		
			</form>
		</div>
	</div>
</div>

{% endblock %}