{% extends 'accounts/main.html' %} 
{% load static %}
{% block content %}	

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

			<p> Are you sure you want to delete "{{item}}"?</p>
			<form action="{% url 'delete_activity' item.id %}" method="POST">
				{% csrf_token %}

				{% if request.user.is_staff %}
					<a class="btn btn-warning" href="{%  url 'activities' %}">Cancel</a>
				{% else %}
					<a class="btn btn-warning" href="{%  url 'myactivities' %}">Cancel</a>
				{% endif %}
					<input class="btn btn-danger" type='submit' value ='Confirm'>
			</form>
		</div>
	</div>
</div>

{% endblock %}