{% extends 'accounts/main.html' %} 
{% load crispy_forms_tags %}
{% block content %}

{% if user_not_teacher %}
    {{ teacher }}
{% endif %}


    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get">
                    {% if user_not_teacher %}
                    {{ instance_filter.form.teacher.label_tag }} {{ instance_filter.form.teacher }}<br>
                    {% endif %}
                    {{ instance_filter.form.school_year.label_tag }} {{ instance_filter.form.school_year }}
                    {{ instance_filter.form.description.label_tag }} {{ instance_filter.form.description }}
                    {{ instance_filter.form.start_date.label_tag }} {{ instance_filter.form.start_date }}
                    {{ instance_filter.form.end_date.label_tag }} {{ instance_filter.form.end_date}} <br>
                    {{ instance_filter.form.principal_signature.label_tag }} {{ instance_filter.form.principal_signature}} &nbsp
                    {{ instance_filter.form.approved.label_tag }} {{ instance_filter.form.approved }}&nbsp; &nbsp
                    <button class="btn btn-default btn-sm" type="submit">Search</button>
                    <a href="{%  url 'myPDA' teacher.user.id %}">Clear all filters</a>
                </form>
            </div>
        </div>
    </div>
<br>
    <div class="row">
         &nbsp; &nbsp;  &nbsp
        <div class="col-sm-2">
            <form>
                <div class="list-group" >
                    {% for sy in active_schoolyear %}
                        <a class=" btn btn-default  btn-sm" href="">  Add PDA for {{ sy.school_year }} </a>
                    {% endfor %}
                </div>
            </form>
        </div>
        <br>
        <div class="col-sm-3">
            <a class=" btn btn-default  btn-sm" href="{%  url 'create_pda' teacher.user.id %}">Add PDA for new school year</a>
        </div>
    </div>

<div class="col">
		<hr>
		<div class="card card-body">

<br>

			<table class="table table-sm">
				<tr>
                    <th>School Year</th>
                    <th>Submitted</th>
                    <th>Date Completed</th>
					<th>Activity Type</th>
                    <th>Description</th>
					<th>ceu</th>
					<th>clock_Hours</th>
					<th>pages</th>
					<th>Principal Signed</th>
                    <th>Approved</th>
                    <th>Approved CEUs</th>
                    <th>Comment</th>
                    <th>Summary</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>			
				{% for p in pda_instance %}
					<tr>
						<td>{{p.pda_record.school_year}} </td>
                        {% if p.pda_record.date_submitted %}
                            <td>{{p.pda_record.date_submitted}}</td>
                            {% else %}
                            <td style = "color:red;size:40px">Not yet</td>
                        {% endif %}
                        <td>{{p.date_completed}} </td>
						<td>{{p.pda_type.get_category_display}} </td>
                        <td>{{p.description}} </td>
                        <td>{{p.ceu|default_if_none:"" }} </td>
                        <td>{{p.clock_hours|default_if_none:""}} </td>
						<td>{{p.pages|default_if_none:""}} </td>
                        <td>{{p.pda_record.principal_signature|yesno:"Yes,Not yet"}} </td>
                        <td>{{p.approved|yesno:"Yes,No,Pending"}} </td>
                        <td>{{p.approved_ceu}} </td>
                        <td>{{p.comment|default_if_none:""}} </td>
						<td>{{p.summary|default_if_none:""}} </td>

					</tr>	

				{% endfor %}
			</table>
		</div>
	</div>

<div class="col">
		<div class="col-md-5">
			<div class="card text-center text-black  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h8 class="card-title">Total Activities</h8>
			  	</div>
			  	<div class="card-body">
			    	<h8 class="card-title">{{count}}</h8>
			  	</div>
			</div>
		</div>
	</div>

{% endblock %}