{% extends 'accounts/main.html' %} 

{% block content %}	

<br>
 {% if request.user.is_staff %}
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>{{teacher}}</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Teacher</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Teacher</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{teacher.user.email}} </p>
			<p>Phone: {{teacher.phone}}</p>
		</div>
	</div>

	
</div>
 {% endif %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h8>Total Activities: {{total_activities}} </h8>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_activityuser' teacher.user.id %}">Add Activity</a>	
		</div>
	</div>
</div>


<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
				{{myFilter.form}}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Date</th>
					<th>Activity Type</th>
					<th>CEUs</th>
					<th>Summary</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for activity in activities %}

				<tr>
					<td>{{activity.date}}</td>
					<td>{{activity.category.get_category_display}}</td>
					<td>{{activity.CEUs}}</td>
					<td>{{activity.summary}}</td>
					<td><a class = "btn btn-sm btn-info" href="{% url 'update_activity' activity.id %}">Update</a></td>
						<td><a class = "btn btn-sm btn-danger" href="{% url 'delete_activity' activity.id %}">Delete</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}

